.desktop {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    /* to allign the both contents left and right  */
    align-items: center;
    display: inline-flex;
    /* to vertically center an item */
    background-color: black;
}

.logo {
    text-decoration: none;
    color: grey;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;

}

.logo:hover {
    color: grey;
    border: 1px solid grey;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: grey;
    margin: 10px 20px;
    font-size: 20px;
}

.links:hover {
    color: grey;
    border: 1px solid grey;
}
.learn{
  color: white;
  border: 1px solid white;
  text-decoration: none;
  background-color: black;
}

.learn:visited{
color: white;
}
.description{
  opacity: 0; /* Start fully transparent */
  transform: translateX(-100%); /* Start off-screen to the left */
  animation: fadeInLeft 2s ease-out forwards; /* Apply animation */
}

@keyframes fadeInLeft {
  to {
    opacity: 1; /* End fully visible */
    transform: translateX(0); /* End at the original position */
  }
}
.heading {
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 2s ease-in forwards; /* Apply animation */
}

@keyframes fadeIn {
  to {
    opacity: 1; /* End fully visible */
  }
}
#last {
    background-color: black;
    width: 100%;
    height: 200px;
     bottom: 0;
    /* left: 0;
    position: fixed; */
}

footer {
    position: absolute;
    color: grey;
    margin-left: 38%;
    /* bottom:0; */
}

.contactIcons {
    display: flex;
    margin-left: 40%;
}

#last a {
    margin: 1rem;
    font-size: larger;
    color: grey;
}

h2 {
    margin-left: 48%;
    color: grey;
}
hr {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
 color: black;
}
#last hr {
    margin-left: 3rem;
    margin-right: 3rem;
    color: grey;
}



  
  /* Styling for the image */
  .image1 {
    margin: 1rem;
    width: 500px;
    height: 290px;
    transition: transform 5s ease-in-out;
    animation: bounce 5s infinite;
  }
  
  /* Keyframes for the bounce effect */
  @keyframes bounce {
    0%{
        transform: translateX(0px) skew(-5deg,-5deg);
      }
      100% {
        transform: translateX(700px);
      }
  }
  body{
    transition: transform 5s ease-in-out;
    animation: backgroundColorChange 5s infinite alternate;
  }
  /* Keyframes for background color change */
@keyframes backgroundColorChange {
  0%{
    background-color: rgb(68, 3, 68);
  }
    25% {
      background-color: rgb(2, 5, 42);
    }
    50%{
        background-color: rgb(1, 32, 1);
    }
    75%{
      background-color: rgb(33, 53, 53);
    }
    100% {
      background-color: black;
    }
  }
  .image2{
    margin-top: -600px;
    width: 500px;
    height: 300px;
    transition: transform 5s ease-in-out;
    animation: bounceback 5s infinite;
  }

  @keyframes bounceback {
    0% {
      transform: translateX(200px) skew(5deg,5deg);
    }
    100% {
      transform: translateX(-500px);
    }
  }
  ul{
    display: inline-flex;
    margin-left: 50px;
    list-style-type: none;
  }
  li img{
    margin:2.5rem;
  }
  .img3,.img4,.img5{
    animation: blink 5s infinite;
  }
  @keyframes blink {
    0%{
      transform: scale(1);
    }
    25% {
      transform: scale(0.8) skew(10deg,10deg);
    }
    50%{
      transform: scale(1.2) skew(-10deg,-10deg);
    }
    100% {
      transform: scale(1);
    }
  }
  .icon:hover i {
    color: white;
    animation: shake 0.75s;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

.up_arrow {
    background-image: linear-gradient(to bottom right,  blue,black, green);
    margin-top: -2rem;
    margin-left: 600px;
    border-radius: 100%;
}
  @media (min-width: 0px) and (max-width: 1024px){
    /* Styling for the image */
  .image1 {
    margin: 1rem;
    width: 300px;
    height: 200px;
    transition: transform 5s ease-in-out;
    animation: bounce 5s infinite;
  }
  
  /* Keyframes for the bounce effect */
  @keyframes bounce {
    0%{
        transform: translateX(0px) skew(-5deg,-5deg);
      }
      100% {
        transform: translateX(120px);
      }
  }
    .image2{
      margin-top: 20px;
      width: 300px;
      height: 200px;
      transition: transform 5s ease-in-out;
      animation: bounceback 5s infinite;
    }
  
    @keyframes bounceback {
      0% {
        transform: translateX(200px) skew(5deg,5deg);
      }
      100% {
        transform: translateX(115px);
      }
    }
    ul{
      display: block;
    }
    #last{
      bottom:0;
      justify-content:center ;
      align-items: center;
    }
    #last ul{
      margin-left: 6rem;
    }
    #last h2{
      margin-left: 12rem;
    }
    footer{
      margin-left: 2rem;
    }
    .up_arrow{
      margin-left: 400px;
    }
  }